body {
    font-size: 1em;
    line-height: 1.4;
    /*background-color: #bfd8d2;*/
    margin: 0;
}


body, html {
    font-family: 'Josefin Sans';
    font-weight: 100;
    font-style: thin;
    color: #757575;
}


#main {
    position: relative;
    overflow: hidden;

}


#intro .section-inner {
	display: inline-block;
    margin: 0 auto;
    position: relative;
    padding-bottom: 60px;
    padding-top: 80px;
    padding-left: 231px;
}

section#intro{
    margin-top: 0px;
    height: 820px;
    background-image: url("images/bg-field.png");
    background-size: auto auto;
    background-position: center;
    background-repeat: no-repeat;

}

.section-inner{
	
	width: 900px;
	

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans';
    font-weight: 100;
    font-style: Thin;
}



#intro #headline  {
    font-size: 1.8em;
    line-height: 1.21;
}
#intro #headline  {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    text-align: center;
    font-size: 1.8em;
    line-height: 1.22;
}
#intro #headline  {
    font-size: 1.8em;
    line-height: 1.23;
    margin-top: 2em;
    width: 700px;
}
#intro #headline  {
    line-height: 1.25;
    font-size: 1.8em;
}

#intro #headline  {
padding: 6px;
}

#intro #headline2  {
    font-size: 1.8em;
    line-height: 1.21;
}
#intro #headline2  {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    text-align: center;
    font-size: 1.8em;
    line-height: 1.22;
}
#intro #headline2  {
    font-size: 1.8em;
    line-height: 1.23;
    margin-top: 2em;
}
#intro #headline2  {
    line-height: 1.25;
    font-size: 1.8em;
}

#intro #headline2  {
padding: 6px;
}

#intro #headline3  {
    font-size: 1.8em;
    line-height: 1.21;
}
#intro #headline3  {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    text-align: center;
    font-size: 1.8em;
    line-height: 1.22;
}
#intro #headline3  {
    font-size: 1.8em;
    line-height: 1.23;
    margin-top: 2em;
}
#intro #headline3  {
    line-height: 1.25;
    font-size: 1.8em;
}

#intro #headline3  {
padding: 6px;
}

/*#intro #headline {
width: 50%;
float: left;*/


p, pre {
    margin: 1em 0;
}

#intro #headline strong#hi {
    position: relative;
    color: #757575;
    font-family: 'Josefin Sans';
    font-weight: 100;
    font-style: Thin;
    font-size: 2.0em;
    line-height: .5;
    z-index: 10;
}

#intro #headline2 strong#hi {
    position: relative;
    color: #fff;
    font-weight: 100;
    font-size: 2.0em;
    line-height: .5;
    z-index: 10;
}

#intro #headline3 strong#hi {
    position: relative;
    color: #fff;
    font-weight: 100;
    font-size: 2.0em;
    line-height: .5;
    z-index: 10;
}

strong {
    font-weight: bold;
}
p #headline  {
	
   opacity: 0.5;
    filter: alpha(opacity=50);
}

#intro #headline span {
    background: #eedab3;
    /*color: #fff;*/
    
}
#intro #headline2 span {
    background: #fdb59c;
    color: #fff;
    
}
#intro #headline3 span {
    background: #93c0ff;
    color: #fff;
    
}

#intro #headline br {
    display: inline;
}
#intro #headline br {
    display: none;
}

#intro #headline2 br {
    display: inline;
}
#intro #headline2 br {
    display: none;
}

#intro #headline3 br {
    display: inline;
}
#intro #headline3 br {
    display: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav-bar, section, summary {
    display: block;
}

#intro #nav-bar {
    display: block;
}

#main #nav-bar{
	
    	background-color: white;
		overflow-x: hidden;
		padding: 0;
    	border-radius: 0px;
    	position: fixed;
        z-index: 20;
    	margin-top: 0;
    	height: 75px;
    	left: 0px;
    	right: 0px;
    	top: 0px;
    	width: 100%;

		}

	#nav-bar ul {
   		list-style-type: none; 
		}

	#nav-bar li {
    	float: right;
		}

	#nav-bar li a {
    	display: block;
    	color: #df744a;
    	text-align: center;
    	padding: 18.3px 35px;
    	text-decoration: none;
        font-family: 'Josefin Sans';
        font-weight: 100;
        font-style: thin;
		font-size: 14px;
		}
		
		#nav-bar li a:hover:not(.active) {
		color: #757575;
    	border-bottom: #757575 solid 3px;
    	
		}

		#nav-bar .active {
		color: #757575;
   		border-bottom: #757575 solid 3px;
   	
		}
	#nav-bar #logo{
		max-width:5em;
		max-height:2em;
	}

		
	#second-nav-bar{
  		display: block;
    	height: 40px;
    	background-color: #fedcd2;
    	border-radius: 0px;
    	left: 0px;
    	right: 0px;
    	margin-top: 74px;
    	width: 100%;
    
    }
    
img.logo {
 
   max-width: 10%;
   max-height: 10%;
   margin-top: 0px;
   margin-left: 2px;
   height: auto;
   float: left;

}

#portfolio-page{
	border-top: 1px solid #b3b4b4;
	height: 1000px;
	background-color: #fedcd2;
	position: relative;
	}

#section-portfolio{

	padding: 50px;
	width: 1200px;

}

#section-portfolio h3{

	font-size: 4.1em;
	padding-top: 1.3em;

}
    

#work-page{
	border-top: 1px solid #b3b4b4;
	height: 1000px;
	position: relative;
	background-color: #bfd8d2;

} 

#section-work{

	padding: 50px;
	width: 1200px;

}
    
#section-work h3{

	font-size: 4.1em;
	padding-top: 1.3em;

}
#about-page{
	border-top: 1px solid #b3b4b4;
	height: 1000px;
	position: relative;
	background-color: #bfd8d2;

} 
#section-about{

	padding: 50px;
	width: 1200px;

}

#section-about h3{

	font-size: 4.1em;
	padding-top: 1em;

}
#about-me p{

	width: 40%;
	font-size: 1.125em;
	margin: 1em 0;
	float:left;

	}
 #designs{
 	display: block;
	position: relative;
	margin-top: 360px;
 }
 #designs img{
	
	padding: 3em;
	margin: 0 auto;
	
	
}
    
 footer{
 	padding: 30px 0px;
    background-color: #fff;
    border-radius: 0px;
    overflow: auto;
    width: 100%;
    margin-bottom: 0;


}

	footer img{
		float: right;
		padding-left: 10px;
		padding-right: 20px;
	}

